@page "/"

<PageTitle>Keeptrack</PageTitle>

<div class="kt-home">
    <div class="kt-home-eyebrow">Your personal collection</div>
    <h1>Everything you do,<br /><em>remembered.</em></h1>
    <p class="kt-home-sub">
        Keeptrack is your quiet space to log the things that matter -
        films watched, books read, places visited, habits tracked.
        Rate them, note them, never lose them.
    </p>

    <div class="kt-home-features">
        <span class="kt-home-feature">🎬 Movies</span>
        <span class="kt-home-feature">📺 TV Shows</span>
        <span class="kt-home-feature">📚 Books</span>
        <span class="kt-home-feature">⛽ Refueling</span>
        <span class="kt-home-feature">+ more</span>
    </div>

    <div class="kt-home-cta">
        <AuthorizeView>
            <Authorized>
                <a class="btn btn-primary" href="/movies">Go to my movies</a>
            </Authorized>
            <NotAuthorized>
                <a class="btn btn-primary" href="/account/login" data-enhance-nav="false">Get started</a>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>
