<div class="top-row">
    <a class="navbar-brand" href="">Keeptrack</a>
    <label class="navbar-toggler-label" for="nav-toggle">&#9776;</label>
</div>

<input type="checkbox" id="nav-toggle" />

<div class="nav-scrollable">
    <nav class="nav flex-column">
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="nav-icon">&#8962;</span>
                Home
            </NavLink>
        </div>
        <AuthorizeView>
            <Authorized>
                <div class="nav-item">
                    <NavLink class="nav-link" href="Books">
                        <span class="nav-icon">&#9776;</span>
                        Books
                    </NavLink>
                </div>
                <div class="nav-item">
                    <NavLink class="nav-link" href="Movies">
                        <span class="nav-icon">&#9776;</span>
                        Movies
                    </NavLink>
                </div>
                <div class="nav-divider"></div>
                <div class="nav-item">
                    <a class="nav-link nav-link-user" href="/Account/Manage">
                        <span class="nav-icon">&#9679;</span>
                        <span class="nav-username">@context.User.Identity?.Name</span>
                    </a>
                </div>
                <div class="nav-item">
                    <a class="nav-link nav-link-logout" href="/auth/logout">
                        <span class="nav-icon">&#8594;</span>
                        Log out
                    </a>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item">
                    <a class="nav-link" href="/Account/Login" data-enhance-nav="false">
                        <span class="nav-icon">&#9671;</span>
                        Sign in
                    </a>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>
